 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

        <script type = "text/javascript" src = "hospital.component.ts"></script>
</head>
<body>
            
        
             <button class="btn new" id = "button1" (click)=showhospitaldata()>Retreive Data</button>

            
             <button class="btn old" id = "button2" (click)=gethospitaldata()>Edit data</button>

             <button class="btn old" id = "button3" (click)=posthospitaldata()>Add data</button>

             <button class="btn old" id = "button4" (click)=deleteall()>delete all</button>

             <select name="select_hospital" *ngIf="showForm" (change)="selectChange($event)">
                    <option *ngFor="let item of hospitals" value="{{item._id}}">{{ item.Name }}</option>
                </select>
                <form *ngIf="showForm" (submit)="$event.preventDefault(); onFormSubmit($event)">
                    <input type="text" name="name" placeholder="Name" value="{{hospital.Name}}">
                    <input type="text" name="address" placeholder="Address" value="{{hospital.Address}}"> 
                    <input type="text" name="apos" placeholder="Apos" value="{{hospital.Apos}}"> 
                    <input type="text" name="aminus" placeholder="Aminus" value="{{hospital.Aminus}}"> 
                    <input type="text" name="bpos" placeholder="Bpos" value="{{hospital.Bpos}}"> 
                    <input type="text" name="bminus" placeholder="Bminus" value="{{hospital.Bminus}}"> 
                    <input type="text" name="abpos" placeholder="ABpos" value="{{hospital.ABpos}}"> 
                    <input type="text" name="abminus" placeholder="ABminus" value="{{hospital.ABminus}}"> 
                    <input type="text" name="opos" placeholder="Opos" value="{{hospital.Opos}}"> 
                    <input type="text" name="ominus" placeholder="Ominus" value="{{hospital.Ominus}}"> 
                    <input type="hidden" name="id" value="{{hospital._id}}">
                    <button>Update</button>
                </form>
    
                <select name="view_hospital" *ngIf="showHospitalDetails" (change)="selectDetailChange($event)">
                    <option *ngFor="let item of hospitals" value="{{item._id}}">{{ item.Name }}</option>
                </select>
                <div *ngIf="showHospital">
                    <div *ngFor="let item of hospitals">
                        <div *ngIf="item._id == activeHospitalId">
                            <p><b>Name:</b> {{ item.Name }}</p>
                            <p><b>Address:</b> {{ item.Address }}</p>
                            <p><b>A+:</b> {{ item.Apos }}</p>
                            <p><b>B+:</b> {{ item.Bpos }}</p>
                            <p><b>O+:</b> {{ item.Opos }}</p>
                            <p><b>AB+:</b> {{ item.ABpos }}</p>
                            <p><b>A-:</b> {{ item.Aminus }}</p>
                            <p><b>B-:</b> {{ item.Bminus }}</p>
                            <p><b>O-:</b> {{ item.Ominus }}</p>
                            <p><b>AB-:</b> {{ item.ABminus }}</p>
                        </div>
                    </div>
                </div>
             

</body>
</html>
