agm-map {
    height: 300px;
    width: 300px !important;
}

.hosComponent {
    background: url('./../../assets/images/hospital.jpg')no-repeat center center fixed;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}