<div class="container-fluid ">
  <div class="container">
  <nav class="navbar navbar-expand-md navbar-dark">
    <a class="navbar-brand abs" href="#">Blood Bank Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="collapsingNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
                <a class="nav-link  app-nav-bar-link" routerLink="/signin">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link app-nav-bar-link" routerLink="/bloodBank">Blood Bank</a>
            </li>
            <li class="nav-item">
                <a class="nav-link app-nav-bar-link" routerLink="/hospital">Hospital</a>
            </li>
            <li class="nav-item">
                <a class="nav-link app-nav-bar-link" routerLink="/user">User </a>
            </li>
        </ul>
    </div>
</nav>
</div>

<div class="container">
  
  <router-outlet></router-outlet>
</div>

</div>