<div class="container-fluid">
    <h1>User Profile Data</h1>
    <div class="row">
        <div *ngIf="currentUserProfile" class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="row ">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <p><span><Strong>Name:</Strong>{{currentUserProfile.name}}</span></p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <p><span><Strong>Email:</Strong>{{currentUserProfile.email}}</span></p>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <p><span><Strong>Blood Group:</Strong>{{currentUserProfile.bloodGroup}}</span></p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <p><span><Strong>Phone Number:</Strong>{{currentUserProfile.phonenumber}}</span></p>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <p><span><Strong>Address:</Strong>{{currentUserProfile.address}}</span></p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <p><span><Strong>Age:</Strong>{{currentUserProfile.age}}</span></p>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <p><span><Strong>State:</Strong>{{currentUserProfile.state}}</span></p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <p><span><Strong>Zip:</Strong>{{currentUserProfile.zip}}</span></p>
                </div>
            </div>
            <div class="row " *ngIf="currentUserProfile.relatives">
                <h5>Emergency Contacts</h5>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <table class="table">
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                        </tr>
                        <tr *ngFor="let item of currentUserProfile.relatives">
                            <td>{{item.name}}</td>
                            <td>{{item.email}}</td>
                            <<<<<<< HEAD <td>{{item.phonenumber}}</td>
                                =======
                                <td>j{{item.phonenumber}}</td>
                                >>>>>>> 7ffd45c4753e7b1782133c61347b26d0858038be
                        </tr>
                    </table>

                </div>
            </div>
            <div *ngIf="currentUserProfile.sameblood" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <h5>Same Blood Group</h5>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <table class="table">
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                        </tr>
                        <tr *ngFor="let item of currentUserProfile.sameblood">
                            <td>{{item.name}}</td>
                            <td>{{item.email}}</td>
                            <td>{{item.phonenumber}}</td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="row">
                <button class="btn btn-secondary contnueButton" (click)="OpenRelativeModal()">Add an Emergency Contact</button>
            </div>
            <div class="row">
                <button class="btn btn-secondary contnueButton" (click)="OpenSameBLoodModal()">Add a person with same
                            blood group</button>
            </div>
            <div class="row">
                <button class="btn btn-secondary contnueButton btbtn-danger" (click)="emergency()">Emergency
                    </button>
            </div>
        </div>
    </div>
    <div *ngIf="relativeModal" class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" style="display:block">

        <div class="modal-dialog modal-dialog-centered " role="document">

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title " id="exampleModalLongTitle">Add a relative</h5>
                </div>

                <div class="modal-body  container">

                    <form [formGroup]="relativeForm">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Email</label>
                                <input type="email" class="form-control" formControlName="email" placeholder="Email">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputName">Name</label>
                                <input type="text" class="form-control" formControlName="name" placeholder="Name">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputphoneNumber">Phone Number</label>
                                <input type="text" class="form-control" formControlName="phonenumber" id="inputphoneNumber">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputage">Age</label>

                                <input type="text" class="form-control" formControlName="age" id="inputage">
                            </div>

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary contnueButton" (click)="submitrelativeForm(relativeForm.value)">Submit</button>
                        </div>
                    </form>

                </div>
            </div>


        </div>

    </div>
    <div *ngIf="sameBloodModal" class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" style="display:block">

        <div class="modal-dialog modal-dialog-centered " role="document">

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title " id="exampleModalLongTitle">Add a relative</h5>
                </div>

                <div class="container modal-body ">


                    <form [formGroup]="sameBloodForm">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Email</label>
                                <input type="email" class="form-control" formControlName="email" placeholder="Email">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputName">Name</label>
                                <input type="text" class="form-control" formControlName="name" placeholder="Name">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputphoneNumber">Phone Number</label>
                                <input type="text" class="form-control" formControlName="phonenumber" id="inputphoneNumber">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputage">Age</label>

                                <input type="text" class="form-control" formControlName="age" id="inputage">
                            </div>

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary contnueButton" (click)="submitSameBloodForm(sameBloodForm.value)">Submit</button>
                        </div>
                    </form>

                </div>
            </div>


        </div>

    </div>
</div>